<!doctype html>
  <head>
    <title>Winter Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<link rel=stylesheet type=text/css href="{{ url_for('styles', filename='bootstrap.min.css') }}">
  </head>

  <body class="container">
    <header class="row" id="navbar">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h1 id="sitename"><a class="site-name" href="{{url_for('homePage')}}">Catalog App</a></h1>
      </div>
    </header>
   
  </body>