{% extends "default.html" %}
{% block content %}
<div class="row">
	{% include "categoriesBanner.html" %}

	<div class="col-sm-9 col-xs-12 latestItems">
		<h3 class="items-title">Latest Items</h3><br>
		<p>
		{% for item in latestItems %}

			<a class="item" href = "{{url_for('itemDescription', category_id = item.category_id, item_id = item.id)}}">{{item.title}} <span class="category-name">({{item.category.name}})</span></a><br>

		{% endfor %}
		</p>
		{% if login_session.logged_in %}
		
		<p><a id="add-item" href="{{url_for('newItem')}}">Add Item</a></p>
		
		{% endif %}
	</div>
</div>
{% endblock %}
